<h1>Insumos Compuestos</h1>

<ul class="nav nav-tabs">
    <li ng-click="setTabInsumo(1)" ng-class="{'active':tabInsumo==1}"><a>Agregar Insumo</a></li>
    <li ng-click="setTabInsumo(2)" ng-class="{'active':tabInsumo==2}"><a>Administrar Insumos</a></li>
  </ul>
<div ng-show="tabInsumo==1">

<div class="well">
<h4>Agregar Insumo</h4>    
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="form-group">
           <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-lemon-o"></i> Nombre</span>
            <input ng-model="nuevo.nombre" type="text" class="form-control" />   
        </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="form-group">
           <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-lemon-o"></i> Descripci&oacute;n</span>
         <textarea class="form-control" ng-model="nuevo.descripcion"></textarea>
        </div>
        </div>
    </div>


    </div>
   <div class="row">
     
     <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">
                    <div class="input-group">
                 <span ng-click="searchInsumo()" class="input-group-addon addon-search"><i class="fa fa-search"></i> Insumo</span>
                <input class="form-control" ng-model="search.insumo" />   
                
                </div>
                </div>
                
                <ul class="list-group" style="max-height:250px;overflow:auto;">
                    <li ng-if="insumoSelected==null" ng-click="setSelected($index)"  style="overflow:hidden;cursor:pointer" class="list-group-item" ng-repeat="i in insumos">{{i.nombre}} <small>{{i.descripcion}}</small> <span class="badge">{{i.unidad}}</span> <span class="badge">{{i.costo | currency }}</span> </li>
                    <li ng-if="insumoSelected!=null" ng-click="unsetSelected()" style="overflow:hidden;cursor:pointer" class="active-li list-group-item" >{{insumoSelected.nombre}} <small>{{insumoSelected.descripcion}}</small> <span class="badge">{{insumoSelected.unidad}}</span> <span class="badge">{{insumoSelected.costo | currency }}</span> </li>
                    
                </ul>
                
     </div>
     <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">
                    <div class="input-group">
                 <span class="input-group-addon"><i class="fa fa-battery-quarter" aria-hidden="true"></i> Cantidad</span>
                <input type="number" class="form-control" ng-model="nuevo.tmpCantidad" />   
                
                </div>
                </div>  
                <div class="text-center">
                   <h3> Costo del insumo:
                <label class="label label-success">{{getCostoTotal() | currency }} </label>
                
                   </h3>
                </div>
     


   </div>
   <div class="row">
<div class="col-xs-12">
<div class="btn-group">
<button ng-click="agregarInsumo()" class="btn btn-success"><i class="fa fa-plus"></i></button>
</div>
</div>
   </div>
</div>
</div>
<div class="row">
<div class="col-xs-12">
<h4>Insumos Agregados</h4>
<div class="table-responsive">
    <table class="table table-hover table-bordered" datatable="ng">
        <thead>
            <tr>
                <th>Insumo</th>
                <th>Unidad</th>
                <th>Cantidad</th>
                <th>Costo</th>
                <th>Opciones
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="insumo in nuevo.insumos">
                <td>{{insumo.nombre}}</td>
                <td>{{insumo.unidad}}</td>
                <td>{{insumo.cantidad}}</td>
                <td>{{insumo.costo |currency}}</td>
                <td class="text-center">
                        <div class="btn-group">
                                <button ng-click="editarInsumo(insumo)" class="btn btn-primary"><i class="fa fa-cog"></i> 
                                <button ng-click="eliminarInsumo($index)" class="btn btn-danger"><i class="fa fa-times"></i> 
                                        
                         </div>

                </td>
            </tr>
        </tbody>
    </table>
</div>

</div>


</div>

    <div class="btn-group">
     <button ng-click="agregarCompuesto()" class="btn btn-primary"><i class="fa fa-check"></i> Aceptar</button>
    </div>
    

</div>
<div ng-show="tabInsumo==2" ng-controller="ctrlCrudCompuesto" ng-include="'htms/crudCompuesto.htm'">


</div>
