<h3>Opciones de Usuario</h3>
<div class="well">
    <div class="form-control">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input class="form-control" ng-model="usuario.usr" placeholder="Usuario" />
                </div>

            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-male"></i></span>
                    <input class="form-control" ng-model="usuario.nombre" placeholder="Nombre" />
                </div>

            </div>

        </div>

    </div>

</div>